{% paginate blog.articles by 3 %}
  {% for article in blog.articles %}
    <div>
      {% if article.image %}
        <img src="{{ article.image | img_url: 'medium' }}" alt="{{ aricle.image.alt }}">
      {% endif %}
    </div>
  {% endfor %}
{% endpaginate %}